.navbar {
    justify-content:right;
}
#toBeRevealed{
    width: 200px;
    /* float:right; */
  }
  .col-md-12{
      margin-left:15%;
      /* color:black;
      font-family:  'Arial Narrow Bold' */
  }
  .bg-primary{
      background-color: #ecc457;
  }