#formdiv {
    background-color:lightslategray;
    
}
#rooms{
    display: grid;
    grid-template-columns: auto;
    column-gap: 40px;
    grid-row-gap: 40px;
    margin:40px;
}
#formdiv{
    margin-top:30px;

}
form {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom:20px
}
#description {
    height:150px;
    overflow: auto;
    /* vertical-align:top */
}
.buttons {
    text-align:center;
    
}
h1{
    margin-left:10px;
    text-align: center;
    vertical-align: middle;
}
