#formdiv {
    background-color:lightslategray;
    /* margin-top:40px; */
}
#rooms{
    /* display: grid;
    grid-template-columns: 16.666666667% auto 16.666666667%; */
    column-gap: 40px;
    grid-row-gap: 40px;
    margin:40px;
}
form {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom:20px
}
#description {
    height:150px;
    overflow: auto;
    /* vertical-align:top */
}
.buttons {
    text-align:center;
    
}
