#tablediv {
    background-color:lightslategray;
    
}
table {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom:20px
}
#fin{
    background-color:lightcoral;
    color:black;
    cursor:pointer
}
#approve{
    background-color:teal;
    color:whitesmoke;
    cursor:pointer
}
#scroll {
    overflow-x: scroll;
    max-width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}
img{
    cursor:pointer;
}