.joinRoom{
  cursor: pointer;
  position: relative;
  margin-right:15px;
  float:right;
  margin:10px;
}

.joinButton{
  font-size: 1%;
  margin-left:15%;
  /* border-radius: -.8em; */
  
  /* baseline-shift:30px; */
   margin-top:-5px; 

}
.card{
  margin-left:25%
}
.smallCard {
  height: 100%;
  /* position: absolute; */
  transform-style: preserve-3d;
  transition: all 1.5s ease-in-out;
  width: 200%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.3);
}
.smallCard:hover {
  transform: rotateY(180deg);
}
.smallCard .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.greenCircle{
  backface-visibility: hidden;
  overflow: hidden;

}
.backCardText{
  backface-visibility: visible;
  margin-right:20px;
  /* overflow: hidden; */
  z-index: 3;
  transform: rotateY(-180deg);
}
img{
  backface-visibility: hidden;
  overflow: hidden;
}

/* .smallCard.back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
} */
