.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

/* .card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
} */
.joinRoom{
  cursor: pointer;
  position: relative;
  margin-right:15px;
  float:right;
  margin:10px;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.joinButton{
  /* font-size: 1%; */
  margin-left:15%;
  /* border-radius: -.8em; */
  
  /* baseline-shift:30px; */
   margin-top:-5px; 

}

.smallCard {
  height: 100%;
  /* position: absolute; */
  transform-style: preserve-3d;
  transition: all 1.5s ease-in-out;
  width: 200%;
}
.smallCard:hover {
  transform: rotateY(180deg);
}
.smallCard .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
/* .smallCard.back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
} */
